/* You can add global styles to this file, and also import other style files */
.fade{
    opacity: 1!important;
}
.modal .modal-side{
    right: 100px!important;
    bottom: 22px!important;
    z-index: 999;
}
#toastModal .modal.fade .modal-dialog{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease!important;
}
.modal-dialog.modal-notify .heading{
    text-align: center;   
    float: right;
    width: 100%;
    font-weight: 700;
}
