<header class="topbar is_stuck" style="position: fixed; top: 0px; width: 1903px;">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="/admin">
                <b>                       
                    <img src="../../../../assets/admin/images/logo-light-icon.png" alt="homepage" class="light-logo">
                </b>
                <span>
                    <img src="../../../../assets/admin/images/logo-light-text.png" class="light-logo" alt="homepage">
                </span>
             </a>
        </div>

        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="/admin"><i class="mdi mdi-menu"></i></a>
                </li>

                <li class="nav-item hidden-sm-down search-box"> <a class="nav-link hidden-sm-down text-muted waves-effect waves-dark" routerLink="/admin/profile"><i class="ti-search"></i></a>
                    <form class="app-search">
                        <input type="text" class="form-control" placeholder="Search &amp; enter"> <a class="srh-btn"><i class="ti-close"></i></a>                        </form>
                </li>
            </ul>

            <ul class="navbar-nav my-lg-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <img src="../../../../assets/admin/images/users/user.png" alt="user" class="profile-pic m-r-10">Hoan Lee
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" routerLink="/admin/profile">Profile</a>
                        <a class="dropdown-item" (click)="logOut()">Logout</a>                       
                    </div>
                </li>              
            </ul>
        </div>
    </nav>
</header>