<side-bar></side-bar>
<div class="page home-page">
    <header-bar></header-bar>
    <router-outlet></router-outlet>
</div>
<!--<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red waves-effect waves-light">
        <i class="fa fa-pencil"></i>
    </a>
    <ul>
        <li><a class="btn-floating red waves-effect waves-light"><i class="fa fa-star"></i></a></li>
        <li><a class="btn-floating yellow darken-1 waves-effect waves-light"><i class="fa fa-user"></i></a></li>
        <li><a class="btn-floating green waves-effect waves-light"><i class="fa fa-envelope"></i></a></li>
        <li><a class="btn-floating blue waves-effect waves-light"><i class="fa fa-shopping-cart"></i></a></li>
    </ul>
</div>-->