<div class="container">
    <div class="manufacture-wrapper">
        <div><img src="assets/images/manufacture/1.jpg"></div>
        <div><img src="assets/images/manufacture/2.jpg"></div>
        <div><img src="assets/images/manufacture/3.jpg"></div>
        <div><img src="assets/images/manufacture/1.jpg"></div>
        <div><img src="assets/images/manufacture/2.jpg"></div>
        <div><img src="assets/images/manufacture/3.jpg"></div>
    </div>
</div>