button.slick-prev.slick-arrow,
button.slick-next.slick-arrow{
    display: none!important;
}
.manufacture-wrapper{
    padding: 70px 0px;    
}
.manufacture-container{
    border-top: 1px solid rgba(115, 115, 115, 0.28);
}