/*
=========================================
=========================================

Bootstrapious Boilerplate Template

=========================================
========================================= */
/*
* ==========================================================
*     GENERAL STYLE
* ==========================================================
*/


table {
  font-size: 0.9em;
  color: #666;
}


.page {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  transition: width 0.3s linear;
  width: calc(100% - 200px);
  background-color: #F4F7FA;
  min-height: 100vh;
  /*padding-bottom: 50px;*/
}

.page.active {
  width: calc(100% - 70px);
}


@media (min-width: 992px) {
  .container-fluid {
    padding: 0 50px;
  }
}

/*
* ==========================================================
*     Main navbar-admin
* ==========================================================
*/
nav.navbar-admin {
  background: #393836;
  /*background:  white;*/
  padding: .8rem 0;
   overflow-x:hidden;
   overflow-y:hidden;   
  /* navbar-admin Brand --------- */
  /*  Dropdowns ------------ */
  /* Toggle Button ---------- */
}

nav.navbar-admin .side-navbar-admin-wrapper {
  width: 100%;
  height: 100%;
}

nav.navbar-admin .container-fluid {
  width: 100%;
}

nav.navbar-admin a {
  font-size: 0.8em;
  color: white;
  position: relative;
}

nav.navbar-admin .badge {
  position: absolute;
  top: 0;
  right: 0;
}

nav.navbar-admin a.logout i {
  margin-left: 5px;
}

nav.navbar-admin small {
  font-size: 0.75em;
  color: #999;
}

nav.navbar-admin a.navbar-admin-brand {
  margin-left: 10px;
}

nav.navbar-admin .brand-text {
  text-transform: uppercase;
}

nav.navbar-admin .brand-text strong {
  font-size: 1.5em;
}

nav.navbar-admin .dropdown-menu {
  width: 320px;
  right: 0;
  left: auto;
  float: left;
  margin-top: 16px;
  padding: 20px;
  font-size: 1.1em;
}

nav.navbar-admin .dropdown-menu a {
  font-size: 0.75em;
  color: #666;
  padding: 10px;
}

nav.navbar-admin .dropdown-menu a:active {
  color: #fff;
}

nav.navbar-admin .dropdown-menu a:active span {
  color: #fff;
}

nav.navbar-admin .dropdown-menu a span {
  color: #777;
}

nav.navbar-admin .dropdown-menu a i {
  margin-right: 5px;
}

nav.navbar-admin .msg-body-admin span,
nav.navbar-admin .msg-body-admin strong {
  display: block;
}

nav.navbar-admin .msg-body-admin span {
  font-size: 0.85em;
}

nav.navbar-admin .msg-profile {
  margin-right: 10px;
  width: 50px;
}

nav.navbar-admin .notification-content {
  font-size: 0.8em;
}

nav.navbar-admin a.menu-btn {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #292929;
  color: #fff;
  text-align: center;
  padding: 0 !important;
}

nav.navbar-admin a.menu-btn i[class*='icon-'] {
  transform: translateY(4px);
}

nav.navbar-admin a.menu-btn:hover {
  background: #33b35a;
}

/*  navbar-admin MEDIAQUERIES ---------------------------------- */
@media (max-width: 576px) {
  nav.navbar-admin .dropdown-menu {
    width: auto;
    right: -40px;
  }
  nav.navbar-admin .notification {
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  nav.navbar-admin .dropdown-menu strong {
    font-weight: 400;
  }
  nav.navbar-admin .dropdown-menu a {
    font-size: 0.9em;
  }
}

/*
* ==========================================================
*     SIDE navbar-admin
* ==========================================================
*/
nav.side-navbar-admin {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  width: 200px;
  text-align: left;
  background: #393836;
  color: #fff;
  transition: all 0.3s linear;
  z-index: 999;
  overflow-y: auto;
  /* arrow rotation -------------- */
  /*  Side navbar-admin small ------------------------ */
}

nav.side-navbar-admin .scrolled-wrapper {
  width: 100%;
  height: 100%;
}

nav.side-navbar-admin.hide {
  left: -70px;
}

nav.side-navbar-admin a.brand-small {
  text-transform: uppercase;
  font-weight: 500;
  padding: 0;
}

nav.side-navbar-admin a.brand-small:hover, nav.side-navbar-admin a.brand-small:focus {
  background: none;
}

nav.side-navbar-admin a.brand-small strong {
  font-size: 1.5em;
}

nav.side-navbar-admin li {
  position: relative;
}

nav.side-navbar-admin li.active a {
  background: #33b35a;
}

nav.side-navbar-admin li ul.collapse a {
  padding-left: 20px;
  border-left: 2px solid #33b35a;
}

nav.side-navbar-admin li ul.collapse a:hover {
  background: #121212;
}

nav.side-navbar-admin .sidenav-header {
  background: #292929;
  padding: 14px;
  margin-bottom: 10px;
}

nav.side-navbar-admin .sidenav-header img {
  width: 50px;
  height: 50px;
 text-align:center!important;
}

nav.side-navbar-admin .sidenav-header span {
  font-size: 0.8em;
  color: #666;
}

nav.side-navbar-admin .sidenav-header h2 {
  margin: 10px 0 0;
}

nav.side-navbar-admin a {
  font-size: 0.95em;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  width: 100%;
  padding: 12px;
}

nav.side-navbar-admin a:focus, nav.side-navbar-admin a:hover, nav.side-navbar-admin a[aria-expanded="true"] {
  background: #33b35a;
  color: #fff;
  border-radius: 2px;
}

nav.side-navbar-admin li ul {
  background: #292929;
  position: relative;
  min-width: 100%;
  left: 0;
  padding-left: 0;
}

nav.side-navbar-admin li ul a {
  padding-left: 20px;
  font-size: 0.85em;
}

nav.side-navbar-admin span {
  display: inline-block;
}

nav.side-navbar-admin i {
  font-size: inherit;
  transition: all 0.3s;
  margin-right: 10px;
}

nav.side-navbar-admin .badge {
  display: inline-block;
  font-size: 0.6em;
}

nav.side-navbar-admin .arrow {
  display: block;
  font-size: 1em;
  transform: none;
}

nav.side-navbar-admin .arrow i {
  margin: 0;
}

nav.side-navbar-admin a[aria-expanded="false"] .arrow {
  transform: none;
  transform: rotate(90deg);
}

nav.side-navbar-admin .brand-small {
  display: none;
}

nav.side-navbar-admin.shrink {
  width: 70px;
  text-align: center;
}

nav.side-navbar-admin.shrink .brand-small {
  display: block;
}

nav.side-navbar-admin.shrink .sidenav-header-inner {
  display: none;
}

nav.side-navbar-admin.shrink i {
  margin-right: 0;
  font-size: 1.2em;
}

nav.side-navbar-admin.shrink .arrow {
  float: none;
  transform: none !important;
}

nav.side-navbar-admin.shrink .badge {
  display: none;
}

nav.side-navbar-admin.shrink span {
  font-size: 0.6em;
  display: block;
}

/* SIDE navbar-admin MEDIAQUERIES ------------------------------ */
@media (max-width: 1200px) {
  .page {
    width: 100%;
  }
  .page.active {
    width: 100%;
  }
  .page.active-sm {
    width: calc(100% - 70px);
  }
  nav.side-navbar-admin {
    left: -70px;
    width: 70px;
    text-align: center;
  }
  nav.side-navbar-admin.show-sm {
    left: 0 !important;
  }
  nav.side-navbar-admin a {
    font-size: 1em;
  }
  nav.side-navbar-admin .brand-small {
    display: block;
  }
  nav.side-navbar-admin .sidenav-header-inner {
    display: none;
  }
  nav.side-navbar-admin i {
    margin-right: 0;
    font-size: 1.2em;
  }
  nav.side-navbar-admin .arrow {
    float: none;
    transform: none !important;
  }
  nav.side-navbar-admin .badge {
    display: none;
  }
  nav.side-navbar-admin span {
    font-size: 0.65em;
    display: block;
  }
  nav.side-navbar-admin li ul a {
    font-size: 0.6em;
  }
}
@media (min-width: 992px) {
  nav.side-navbar-admin a {
    font-size: 1.1em;
  }
}
/*hide scrollbar*/
::-webkit-scrollbar { 
    display: none; 
}
