html *{
    outline: 0!important
}

html,body{
    height: 100%;
    margin: 0 auto;
    padding: 0px;
}
body{
    font-family: 'roboto', serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #61728d;
    background-color: #fff;
}

a{
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

a:hover,
a:focus,
.a:active{
    text-decoration: none;
    border-bottom: none;
}