﻿<div class="modal-dialog cascading-modal" role="document" id="loginModal">
    <!--Content-->
    <div class="modal-content">

        <!--Modal cascading tabs-->
        <div class="modal-c-tabs tabs-wrapper">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified indigo" role="tablist">
                <li class="nav-item">
                    <a [ngClass]="{'nav-link' : true, 'waves-light': true, 'active': isLogin}" (click)="loginView()" role="tab" data-toggle="tab"
                        href="#panel1"><i class="fa fa-user mr-1"></i> Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a [ngClass]="{'nav-link' : true, 'waves-light': true, 'active': !isLogin}" (click)="signUpView()" role="tab" data-toggle="tab"
                        href="#panel2"><i class="fa fa-user-plus mr-1"></i> Đăng kí</a>
                </li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content">
                <!--Panel 7-->
                <form *ngIf="isLogin" [ngClass]="{'tab-pane' : true, 'in show active': isLogin}" id="panel1">
                    <!--Body-->
                    <div class="modal-body mb-1">                        
                        <div class="md-form form form-group">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="email" name="email" maxlength="200" id="user" class="form-control" [(ngModel)]="email">
                            <label for="email">Email</label>
                            <!--<div *ng-if="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ng-if="email.error.required">Email is required</div>
                            </div>-->
                        </div>

                        <div class="md-form form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" name="password" id="password" maxlength="200" class="form-control validate" [(ngModel)]="password">
                            <label for="password">Nhập mật khẩu</label>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-info" (click)="getAccount()" type="submit">Đăng nhập <i class="fa fa-sign-in ml-1"></i></button>
                        </div>
                        <button type="button" class="btn btn-sm btn-gplus"><i class="fa fa-google-plus left"></i> Google +</button>
                        <button type="button" class="btn btn-sm btn-fb"><i class="fa fa-facebook left"></i> Facebook</button>
                        <div class="text-center mt-2">
                            <a>Quên mật khẩu ?</a>
                        </div>
                        <div class="text-center mt-2">
                            <a data-dismiss="modal" class="btn-close">Close<i class="fa fa-times-circle ml-1"></i></a>
                        </div>
                    </div>
                </form>
                <!--/.Panel 7-->

                <!--Panel 8-->
                <form *ngIf="!isLogin" [ngClass]="{'tab-pane' : true, 'in show active': !isLogin}" id="panel2" [formGroup]="form" #registerForm="ngForm">

                    <!--Body-->
                    <div class="modal-body" *ngIf="model">                        
                        <!--<div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="email" id="email" name="email" class="form-control validate" [(ngModel)]="model.email" formControlName="email" [formGroup]="form">
                            <label for="email">Địa chỉ email</label>                            
                            <div *ngIf="form.controls['email'].hasError('required') && (form.controls['email'].touched || form.controls['email'].dirty)" class="alert alert-danger">Email is required</div>                            
                            <div *ngIf="form.controls['email'].hasError('email') && (form.controls['email'].touched || form.controls['email'].dirty)" class="alert alert-danger">Email is invalid</div>                            
                        </div>-->
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="email" id="email" name="email" class="form-control validate" [(ngModel)]="model.email" formControlName="email"
                                [formGroup]="form">
                            <label for="email">Địa chỉ email</label>
                            <div [hidden]="!(form.controls['email'].hasError('required') && (form.controls['email'].touched || form.controls['email'].dirty))"
                                class="alert alert-danger">Email is required</div>
                            <div [hidden]="!(form.controls['email'].hasError('email') && !form.controls['email'].hasError('required') && (form.controls['email'].touched || form.controls['email'].dirty))"
                                class="alert alert-danger">Email is invalid</div>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="lastName" name="lastName" class="form-control validate" maxlength="200" [(ngModel)]="model.lastName"
                                [formGroup]="form" formControlName="lastName">
                            <label for="lastName">Nhập tên</label>
                            <div *ngIf="form.controls['lastName'].hasError('required') && (form.controls['lastName'].touched || form.controls['lastName'].dirty)"
                                class="alert alert-danger">Last name is required</div>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="firstName" name="firstName" class="form-control validate" maxlength="200" [(ngModel)]="model.firstName"
                                [formGroup]="form" formControlName="firstName">
                            <label for="firstName">Nhập họ</label>
                            <div *ngIf="form.controls['firstName'].hasError('required') && (form.controls['firstName'].touched || form.controls['firstName'].dirty)"
                                class="alert alert-danger">Last name is required</div>
                        </div>
                        <div class="form-group md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="password1" name="password" minlength="6" maxlength="200" class="form-control validate" formControlName="password"
                                [formGroup]="form" [(ngModel)]="model.password">
                            <label for="password1">Mật khẩu (lớn hơn 6 ký tự)</label>
                            <div [hidden]="!(form.controls['password'].hasError('required') && (form.controls['password'].touched || form.controls['password'].dirty))"
                                class="alert alert-danger">Password name is required</div>
                            <div [hidden]="!(form.controls['password'].hasError('minlength') && !form.controls['password'].hasError('required') && (form.controls['password'].touched || form.controls['password'].dirty))"
                                class="alert alert-danger">Password name is required minlength 6 character</div>
                        </div>
                        <div class="form-group md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="confirmPassword" minlength="6" name="confirmPassword" maxlength="200" class="form-control validate"
                                formControlName="confirmPassword" [formGroup]="form">
                            <label for="confirmPassword">Nhập lại mật khẩu</label>
                        </div>
                        <!--<div class="alert alert-danger" *ngIf="form.controls.confirmPassword.errors?.MatchPassword">Password not match</div>-->
                        <div *ngIf="form.controls['confirmPassword'].hasError('MatchPassword') && (form.controls['confirmPassword'].touched || form.controls['confirmPassword'].dirty)"
                            class="alert alert-danger">Password not match</div>
                        <div class="text-center form-sm mt-2">
                            <button type="submit" class="btn btn-success" (click)="add()" [disabled]="registerForm.invalid">Đăng kí <i class="fa fa-sign-in ml-1"></i></button>
                            <button type="reset" class="btn btn-danger">Cancel <i class="fa fa-eraser" aria-hidden="true"></i></button>
                        </div>
                        <div class="text-center mt-2">
                            <a data-dismiss="modal" class="btn-close">Close<i class="fa fa-times-circle ml-1"></i></a>
                        </div>
                    </div>
                </form>
                <!--/.Panel 8-->
            </div>
        </div>
    </div>
    <!--/.Content-->
</div>