/*box-popup*/
.login-html{
    background-color: #fff;   
    position: relative;
    text-align: center;
}
.login-html .tab {
    font-size: 22px;
    padding-bottom: 5px;
    display: inline-block;
    margin: 0px 15px 10px 0px;
    color: rgb(200, 200, 200);
    border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab, 
.login-html .sign-up:checked + .tab {
    color: #000;
    border-color: rgb(17, 97, 238);
}
.login-html .tab {
    font-size: 20px;
    margin: 20px 0 15px;
    display: inline-block;        
}
.login-html .tab, 
.login-form .group .label, 
.login-form .group .button {
    text-transform: capitalize;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 340px!important;
        margin: 30px auto;
    }
}
button.close{        
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;   
    color: #000;
    text-shadow: 0 1px 0 #fff;
    margin: 10px 10px 0px 0px;   
}
input[type="radio"]{
    visibility: hidden; 
    margin-left: 7px;  
}
.login-content{
    padding: 5px;
}
.other-login .social{   
    position: relative;
    text-decoration: none;
    border: 0 none;
    text-align: center;
    display: block;   
    padding: 10px 0px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 700!important;   
    border-radius: 5px;
}
.facebook{
    background-color: #607CB7;
}
.facebook:before{
    content: "\f09a";
    font-size: 14px;
    font-family: FontAwesome;
    color: #fff;    
    margin-left: 0px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 13%;
}
.google{
    background-color: #DD4B39;
}
.google:before{
    content: "\f0d5";
    font-size: 14px;
    font-family: FontAwesome;
    color: #fff;    
    margin-left: 0px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 13%;
}
.login-html span{
    display: block;
    margin-top: 10px;
    position: relative;
    height: 20px;
    line-height: 20px;
    text-align: center;   
    margin-bottom: 10px;
}
.login-html span i{
    font-style: normal;
    color: #9b9797;
    background-color: #fff;
    position: relative;
    padding: 0 10px;
    font-size: 13px;
}
.login-html span:before{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    display: block;
    background: #dedede;
    top: 10px;

}
.group{
    padding: 0px 20px;
    text-align: left;
}
.login-form .input{  
    width: 89%;
    padding: 7px 15px;
    /*color: #b2b2b2;*/
    border: 1px solid #dedede;
    margin-bottom: 5px;
}
.login-form .input:first-child{
    margin-bottom: 10px;
}
.radio-input{
    margin: 10px 20px 20px;
    color: gray;
    overflow: hidden;
}
.pull-left{
    float: left;
}
.box-popup.no-padding .login-form .radio-input input{
    margin-right: 5px;
}
.pull-left label{
    font-weight: normal;
}
.pull-left p>a{
    color: #000;
}
.pull-left p>a:hover{
    color: #337ab7;
}
.pull-left .txt-link a{
    text-decoration: none;
    display: inline-block;        
}
.pull-center{
    text-align: center;
    clear: right;
    padding-top: 5px;
}
.pull-center .button{   
    padding: 12px 30px;    
    line-height: 1;    
    background: #7FBA00;
    color: #fff;
    outline: none;
    border: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border: 1px solid #7FBA00;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.pull-center .button:hover{   
    background: #fff;
    color: #7FBA00;
    border: 1px solid #7FBA00;
}
.foot-lnk{
    text-align: center;
    padding-bottom: 15px;
}
.foot-lnk a{
    text-decoration: none;    
}
.foot-lnk a label:hover{
    color: #337ab7!important;
}
.txt-link a label:hover{
    color: #337ab7!important;
}
.txt-link a{
    text-decoration: none;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{ 
    position:absolute;
    background-color: #fff;
    -webkit-transform:rotateY(180deg);
            transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.label{
    color: #000!important;
    font-size: 14px;   
}
.sign-up-htm .txt-link{
    display: inline-block;
    padding: 20px 0px 20px 20px;
}
.sign-up-htm .group.pull-center{
    padding: 15px 0px;
}
.sign-up-htm .group label{
    padding: 0px!important;
    margin-bottom: 10px!important;
    display: inline-block!important;    
}
label{
    border: none!important;
}
.login-form{
    margin-top: 0px!important;
}
a.nav-link.waves-light {
    color: #fff!important;
    border: none;
    border-radius: 3px;
}
a.nav-link.waves-light.active{
    color: #000!important;
}
a.nav-link.waves-light:hover{
    border: none;    
}
ul.nav.nav-tabs.nav-justified.indigo{
    padding: .7rem;
}
.btn-close{
    border: none;
    background: transparent;
}
button.btn.btn-sm.btn-gplus{
    background-color: #DD4B39;
}
button.btn.btn-sm.btn-fb{
    background-color: #4264aa;
}
.modal-backdrop.fade.show{
    display: none!important;
}

/*css validate form*/
.ng-valid[required], .ng-valid.required  {
  border-left: 2px solid #42A948; 
}

.ng-invalid:not(form)  {
  border-left: 2px solid #a94442;
}
.md-form.form-sm .prefix~input, 
.md-form.form-sm .prefix~label{
    padding-left: 10px!important;
}
.text-center.form-sm.mt-2 .btn {
    width: 45%;
    float: left;
    padding: 0.85rem 1.13rem!important;
}
.text-center.mt-2{
    clear: both;
}