<div class="modal-dialog cascading-modal" role="document">
    <!--Content-->
    <div class="modal-content">

        <!--Modal cascading tabs-->
        <div class="modal-c-tabs tabs-wrapper">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified indigo" role="tablist">
                <li class="nav-item">
                    <a class="nav-link waves-light active" role="tab" data-toggle="tab" href="#panel1"><i class="fa fa-user mr-1"></i> Đăng nhập</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" role="tab" data-toggle="tab" href="#panel2"><i class="fa fa-user-plus mr-1"></i> Đăng kí</a>
                </li>
            </ul>
            <!-- Tab panels -->
            <div class="tab-content">
                <!--Panel 7-->
                <form Class="tab-pane fade in show active" id="panel1">
                    <!--Body-->
                    <div class="modal-body mb-1">
                        <div class="md-form form form-group">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="email" name="email" maxlength="200" id="user" class="form-control" [(ngModel)]="email">
                            <label for="email">Email</label>
                            <!--<div *ng-if="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ng-if="email.error.required">Email is required</div>
                            </div>-->
                        </div>

                        <div class="md-form form">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" name="password" id="password" maxlength="200" class="form-control validate" [(ngModel)]="password">
                            <label for="password">Nhập mật khẩu</label>
                        </div>
                        <div class="text-center mt-2">
                            <button class="btn btn-info" (click)="getAccount()" type="submit">Đăng nhập <i class="fa fa-sign-in ml-1"></i></button>
                        </div>
                        <button type="button" class="btn btn-sm btn-gplus"><i class="fa fa-google-plus left"></i> Google +</button>
                        <button type="button" class="btn btn-sm btn-fb"><i class="fa fa-facebook left"></i> Facebook</button>
                        <div class="text-center mt-2">
                            <a>Quên mật khẩu ?</a>
                        </div>
                        <div class="text-center mt-2">
                            <a data-dismiss="modal" class="btn-close">Close<i class="fa fa-times-circle ml-1"></i></a>
                        </div>
                    </div>
                </form>
                <!--/.Panel 7-->

                <!--Panel 8-->
                <form Class="tab-pane fade" id="panel2" #registerForm="ngForm">
                    <div class="modal-body" *ngIf="model">
                        <div class="md-form form-sm">
                            <i class="fa fa-envelope prefix"></i>
                            <input type="email" id="email" maxlength="200" name="email" class="form-control validate" [(ngModel)]="model.email" required
                                #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                            <label for="email">Địa chỉ email</label>
                            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                <div *ngIf="email.errors.required">
                                    Email is required
                                </div>
                                <div *ngIf="email.errors.pattern">
                                    Email is invalid
                                </div>
                            </div>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="lastName" name="lastName" class="form-control validate" maxlength="200" [(ngModel)]="model.lastName"
                                required #lastName="ngModel">
                            <label for="lastName">Nhập tên</label>
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                                <div *ngIf="lastName.errors.required">
                                    Last Name is required
                                </div>
                            </div>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-user prefix"></i>
                            <input type="text" id="firstName" name="firstName" class="form-control validate" maxlength="200" [(ngModel)]="model.firstName"
                                required #firstName="ngModel">
                            <label for="firstName">Nhập họ</label>
                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                                <div *ngIf="firstName.errors.required">
                                    First Name is required
                                </div>
                            </div>
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="password1"  name="password" minlength="6" maxlength="200" class="form-control validate" [(ngModel)]="model.password" required #password="ngModel">
                            <label for="password1">Mật khẩu (lớn hơn 6 ký tự)</label>       
                            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                                <div *ngIf="password.errors.required">
                                    Password is required
                                </div>
                                <div *ngIf="password.errors.minlength">
                                    Password is required minimum 6 character
                                </div>
                            </div>                    
                        </div>
                        <div class="md-form form-sm">
                            <i class="fa fa-lock prefix"></i>
                            <input type="password" id="confirmPassword" minlength="6" name="confirmPassword" maxlength="200" class="form-control validate"
                                [(ngModel)]="model.confirmPassword" required #confirmPassword="ngModel" >
                            <label for="confirmPassword">Nhập lại mật khẩu</label>
                            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="alert alert-danger">
                                <div *ngIf="confirmPassword.errors.required">
                                    Password is required
                                </div>                               
                            </div>
                        </div>
                    </div>                    
                    <div class="text-center form-sm mt-2">
                        <button type="submit" class="btn btn-info" (click)="add()" [disabled]="registerForm.invalid">Đăng kí <i class="fa fa-sign-in ml-1"></i></button>
                    </div>
                    <div class="text-center mt-2">
                        <a data-dismiss="modal" class="btn-close">Close<i class="fa fa-times-circle ml-1"></i></a>
                    </div>                
                </form>
                <!--/.Panel 8-->
            </div>
        </div>
    </div>
    <!--/.Content-->
</div>