<page-title></page-title>
<div class="row">
    <!-- column -->
    <div class="col-lg-12">
        <div class="card">
            <div class="card-block">
                <h4 class="card-title">PRODUCT</h4>               
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Discription</th>
                                <th>Date Add</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of itemproduct">
                                <td>{{item.id}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.Discription}}</td>
                                <td>{{item.dateAdd | date: 'dd-MM-yyyy'}}</td>    
                                <td>
                                    <button type="button" class="btn btn-success">Add</button>
                                    <button type="button" class="btn btn-warning">Edit</button>
                                    <button type="button" class="btn btn-danger">Delete</button>
                                </td>                           
                            </tr>                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>