#back-top .link.show {
    visibility: visible;
    opacity: 1;
}
#back-top .link {
    line-height: 30px;
    position: fixed;   
    right: 40px;
    bottom: 40px;
    display: table!important;
    width: 40px;
    height: 40px;
    text-align: center;   
    border: 1px solid #db3762;
    z-index: 888;
}
i.fa.fa-angle-double-up{
    vertical-align: middle;
}
.show {
    display: block!important;
}
.link:hover i.fa.fa-angle-double-up,
.link:focus i.fa.fa-angle-double-up{
    color: #fff!important;
    vertical-align: middle;
}

i.fa.fa-angle-double-up {
    font-size: 35spx;
}
.link.show {
    color: #fff;
    padding: 13px;
    width: 30px;
    padding: 6px 10px;
    width: 100%;
    float: left;
    height: 101%;
    background: #db3762;
}