.page-titles {
    padding-bottom: 20px;
   
}
.page-titles {
    background: #ffffff;
    margin: 0 -30px 30px;
    padding: 15px;
    -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}
.row.page-titles {
    margin-top: 75px;
    margin-left: -30px;
    margin-right: -30px;
}
.m-t-30{
    display: block;
    text-align: center;
}
.change-password{
    float: left;
}