<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <a href="admin" class="btn waves-effect waves-light btn-primary pull-right hidden-sm-down"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back </a>
    </div>
</div>
<div class="row">
    <!-- Column -->
    <div class="col-lg-4 col-xlg-3 col-md-5">
        <div class="card">
            <div class="card-block">
                <div class="m-t-30"> <img src="../../../../assets/admin/images/users/user.png" alt="user" class="profile-pic m-r-10">
                    <h4 class="card-title m-t-10">Hoan Lee</h4>
                    <a class="card-subtitle">Change image profile</a>
                    <input type="text" name="url" id="url" class="form-control" [disabled]="!clickEnabel" [(ngModel)]="accounts.ImageUrl" name="imageUrl">
                </div>
            </div>
        </div>
    </div>
    <!-- Column -->
    <!-- Column -->
    <div class="col-lg-8 col-xlg-9 col-md-7">
        <div class="card">
            <div class="card-block">
                <form class="form-horizontal form-material">
                    <div class="form-group">
                        <label class="col-md-12">User Name:</label>
                        <div class="col-md-12">
                            <input type="text" placeholder="Hoan Le" class="form-control form-control-line" [disabled]="!clickEnabel" [(ngModel)]="accounts.Username"
                                name="Username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-email" class="col-md-12">Email</label>
                        <div class="col-md-12">
                            <input type="email" class="form-control form-control-line" name="example-email" id="example-email" [disabled]="!clickEnabel"
                                [(ngModel)]="accounts.Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Password</label>
                        <div class="change-password">
                            <div class="col-md-8">
                            <input type="password" value="password" class="form-control form-control-line" [disabled]="!clickEnabel" [(ngModel)]="accounts.Password"
                                name="password">
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-info" id="save" [disabled]="!clickEnabel" data-toggle="modal" data-target="#changePassword" data-backdrop="false">Change Password <i class="fa fa-key" aria-hidden="true"></i></button>
                            <!-- Modal -->
                            <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <!--Content-->
                                    <div class="modal-content">
                                        <!--Header-->
                                        <div class="modal-header">
                                            <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <!--Body-->
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <!--Footer-->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                    <!--/.Content-->
                                </div>
                            </div>
                            <!-- Modal -->
                        </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-12">Phone No</label>
                        <div class="col-md-12">
                            <input type="text" class="form-control form-control-line" [disabled]="!clickEnabel" [(ngModel)]="accounts.NumberPhone" [(ngModel)]="accounts.NumberPhone"
                                name="nuberphone">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button class="btn btn-warning" id="edit" (click)="enabel()">EDIT<i class="fa fa-pencil ml-1"></i></button>
                            <button class="btn btn-danger" id="edit" [disabled]="!clickEnabel" (click)="cancel()">CANCEL<i class="fa fa-times" aria-hidden="true"></i></button>
                            <button class="btn btn-info" id="save" [disabled]="!clickEnabel" (click)="save()">SAVE<i class="fa fa-send ml-1"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Column -->
</div>