.image-wrap {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  border-radius: 5px;
}

/**
 * The "shine" element
 */

.image-wrap:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */

.image-wrap:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.image-wrap:active:after {
  opacity: 0;
}

.controls-top {
    float: right;
}
.card{
    height: 432px;
    box-shadow: none;
}
h4.title_block {
    position: relative;
    display: block;
    color: #000;
    font-size: 28px;
}
h4.title_block:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 1px;
    width: 11%;
    background-color: #db3762;
}
.controls-top{
    margin-bottom: 20px;
}
a.btn-floating{
    font-size: 22px;    
    padding: 0px 15px;
}
.link-product{
    width: 100%;
    float: left;
    overflow: hidden;
}
.link-product img{
    transition: transform 0.5s cubic-bezier(0.49, -0.01, 0.42, 0.81);
    border-radius: 0px!important;
}
.link-product:hover img{
    transform: scale(1.2);
}
span.label-new.label{
    color: #fff;
    background-color: #77c66d;
    padding: 0px 10px;
    text-transform: uppercase;
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 10px;
}
span.label-new.label-sale.label{
    color: #fff;    
    padding: 0px 10px;
    text-transform: uppercase;
    position: absolute;
    top: 14px;    
    font-size: 10px;
    background-color: #f65b47;
    left: 15px;
    width: 15%;
}
.product-image-container{
    position: relative;
    margin-bottom: 15px;
}
a.product-name{
    text-transform: uppercase;
    text-align: left;
    padding-left: 5px;
    color: #747373;
}
span.price.product-price {
    text-decoration: line-through;
    padding-left: 5px;
}
span.old-price.product-price {
    font-weight: 700;
    color: #000;
}
.star_content .fa{
    color: yellow;
}
.content_price{
    float: left;
}
.star_content{
    float: right;
}
.wrapper-bestsell {
    padding: 70px 0px;
}
@media screen and (min-width: 768px) and (max-width: 1365px){
    a.product-name{
        font-size: 12px;
    }
    span.price.product-price,
    span.old-price.product-price{
        font-size: 10px;
    }
    .star_content .fa{
        font-size: 8px;
    }
    img.img-responsive{
        width: 100%;
    }
    .card{
        height: 285px;
    }
    .wrapper-bestsell{
        padding-bottom: 0px;
    }
}