<div class="wrapper-bestsell">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="wrapper-product">
                    <div class="container">
                        <h4 class="title_block">Best sellers</h4>
                        <!--Carousel Wrapper-->
                        <div id="multi-item-example_1" class="carousel slide carousel-multi-item" data-ride="carousel">

                            <!--Controls-->
                            <div class="controls-top">
                                <a class="btn-floating" href="#multi-item-example_1" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                                <a class="btn-floating" href="#multi-item-example_1" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                            </div>
                            <!--/.Controls-->

                            <!--Indicators-->
                            <ol class="carousel-indicators">
                                <li data-target="#multi-item-example_1" data-slide-to="0" class="active"></li>
                                <li data-target="#multi-item-example_1" data-slide-to="1"></li>
                                <li data-target="#multi-item-example_1" data-slide-to="2"></li>
                            </ol>
                            <!--/.Indicators-->

                            <!--Slides-->
                            <div class="carousel-inner" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="col-md-6" *ngFor="let item of activeRow">
                                        <item-product [_item]="item"></item-product>
                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item" *ngFor="let slide of listOfLists">
                                    <div class="col-md-6" *ngFor="let item of slide">
                                        <item-product [_item]="item"></item-product>
                                    </div>
                                </div>
                                <!--/.Second slide-->
                            </div>
                            <!--/.Slides-->

                        </div>
                        <!--/.Carousel Wrapper-->
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="banner-item effect">
                    <a class="image-wrap" href="#" title="">
                        <img class="img-responsive" src="assets/images/banner/1.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>