<div class="service-wrapper">
    <div class="width-33">
        <div class="service-item">
            <div class="media">
                <div class="media-body">
                    <div class="icon-box">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <h4><a title="Free shipping" href="#">Free shipping</a></h4>
                    <p>Guaranteed delivery in 3 days</p>
                </div>
            </div>
        </div>
    </div>
    <div class="width-33">
        <div class="service-item">
            <div class="media media-center">
                <div class="media-body">
                    <div class="icon-box">
                        <i class="fa fa-reply-all" aria-hidden="true"></i>
                    </div>
                    <h4><a title="Exchanges &amp; returns" href="#">Exchanges &amp; returns</a></h4>
                    <p>100% money back within 30 days</p>
                </div>
            </div>
        </div>
    </div>
    <div class="width-33">
        <div class="service-item">
            <div class="media">
                <div class="media-body">
                    <div class="icon-box">
                        <i class="fa fa-comments-o" aria-hidden="true"></i>
                    </div>
                    <h4><a title="Online support" href="#">Online support</a></h4>
                    <p>Live chat or call us 24/7</p>
                </div>
            </div>
        </div>
    </div>
</div>