.service-wrapper{
    overflow-x: hidden;
    padding: 70px 0px;
}
.media-body {
    text-align: center;
}
.icon-box .fa {
    font-size: 45px;
    color: #db3762;
}
.icon-box {
    margin-bottom: 15px;
}
.media-body a{
    color: #000!important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}
.media-body a:hover{
    color: #db3762;
}
.media-body p{
    font-size: 16px;
}
.width-33{
    width: 33.32%;
    display: inline-block;
    float: left;
}
.media{
    padding: 30px 0px;
}
.media:first-child,
.media:last-child{
    background-color: #FAFAFA;
}
.media-center{
    background-color: #E9E8E8!important;
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    .icon-box .fa{
        font-size: 35px;
    }
    .media-body a{
        font-size: 16px;
    }
    .media-body p{
        font-size: 14px;
    }
}