img,
.carousel-wrapper{
    overflow-x: hidden;
    overflow-y: hidden;    
    width: 100%;
}
ol.carousel-indicators .active{
    height: 15px;
    max-width: 15px;
    width: 15px;
}
span.carousel-control-prev-icon{
    position: relative;
    left: -200px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
span.carousel-control-next-icon{
    position: relative;
    right: -200px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.carousel-control-prev:hover span.carousel-control-prev-icon{
    left: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.carousel-control-next:hover span.carousel-control-next-icon{
    right: 0px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.carousel .carousel-control-next-icon, 
.carousel .carousel-control-prev-icon{
    width: 50px;
    height: 50px;
}
.carousel-item{
    position: relative;
}
.carousel-caption{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    letter-spacing: .1rem;
    max-width: 80%;
}
.sup-title{
    color: #fff;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 20px;    
}
.main-title.title-1{
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 20px;
    color: #fff;
}
.main-title.title-2{
    color: #db3762;
    font-weight: 700;
    font-size: 72px;
    margin-bottom: 20px;
}
.sub-tile.title-1,
.sub-tile.title-2{
    font-size: 24px;
    font-weight: 400;
    padding: 15px 0px;
    margin-bottom: 50px;
}
.sub-tile.title-2{
    color: #333
}
.btn-shop{
    background: transparent;
    border: 1px solid #fff;
    padding: 15px 40px;
    margin-top: 20px;
}
nav.navbar.navbar-default.fixed-top.transparent{
    margin-top: 0px;
}
.btn-shop.btn-2{
    background: transparent;
    border: 1px solid #333;
    padding: 15px 40px;
    margin-top: 20px;
    color: #333;
}
.btn-shop:hover,
.btn-shop.btn-2:hover{
    color: #db3762!important;
    border: 1px solid #db3762;
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    img{
        height: 600px;
    }
    .carousel-wrapper{
        height: 600px;
        overflow: hidden;
    }
    .main-title.title-2,
    .main-title.title-1{
        font-size: 55px;
    }
    .sub-tile.title-1, .sub-tile.title-2{
        font-size: 18px;
    }
}