<div class="carousel-wrapper">
    <!--Carousel Wrapper-->
    <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-1z" data-slide-to="1"></li>
            <li data-target="#carousel-example-1z" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <!--First slide-->
            <div class="carousel-item active">
                <img src="assets/images/slide/01.jpg">
                <div class="carousel-caption wow">
                    <h1 class="sup-title wow bounceInLeft" data-wow-delay=".2s">Sale off 20%</h1>
                    <h1 class="main-title title-1 wow bounceInLeft" data-wow-delay=".4s">HOLIDAY happy</h1>
                    <p class="sub-tile title-1 wow bounceInLeft" data-wow-delay=".6s">Festive birthday gifts</p>
                    <a class="btn-shop wow bounceInLeft" data-wow-delay=".8s"> SHOP NOW </a>
                </div>
            </div>
            <!--/First slide-->
            <!--Second slide-->
            <div class="carousel-item">
                <img src="assets/images/slide/02.jpg">
                <div class="wow carousel-caption" data-wow-delay=".5s">
                    <h1 class="sup-title wow bounceInLeft">Sale off 50%</h1>
                    <h1 class="main-title title-2 wow bounceInLeft">WEDNESDAY ONLY!</h1>
                    <p class="sub-tile title-2 wow bounceInLeft">Flower delivery for all occasions and holidays SHOP NOW</p>
                    <a class="btn-shop btn-2 wow bounceInLeft"> SHOP NOW </a>
                </div>
            </div>
            <!--/Second slide-->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
        <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
</div>