.page-titles {
    padding-bottom: 20px;
   
}
.page-titles {
    background: #ffffff;
    margin: 0 -30px 30px;
    padding: 15px;
    -webkit-box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}
.row.page-titles {
    margin-top: 75px;
    margin-left: -30px;
    margin-right: -30px;
}
@media (min-width: 1200px){
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 992px){
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 768px){
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}