<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor">Dashboard</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Product</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <a href="admin" class="btn waves-effect waves-light btn-primary pull-right hidden-sm-down"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back </a>
    </div>
</div>