h4.title_block {
    position: relative;
    display: block;
    color: #000;
    font-size: 28px;
    margin-bottom: 50px;
    text-align: center;
    padding: 15px 0px;
}

h4.title_block:after{
    content: '';
    position: absolute;
    bottom: -10px;
    width: 10%;
    height: 1px;
    background-color: #db3762;
    left: 50%;
    transform: translateX(-50%);
}
.descript{
    text-align: center;
    font-size: 14px;
    margin-bottom: 50px;
}
.subscribe-container {
    padding: 70px 0px;
}
.input-group{
    position: relative;
    display: table;
    width: 55%;
    margin: 0 auto;
    background: #EAEAEA;
}
span.input-group-addon{
    display: table-cell;
    background: #EAEAEA;
    font-size: 15px;
    padding: 6px!important;
    font-weight: 400;
    border: 1px solid #EAEAEA;
    width: 10%;
    text-align: center;
    margin-top: 0px!important;
}
input.form-control{
    background: #EAEAEA;
    font-size: 15px;
    border: 1px solid #EAEAEA;
    border-right: 0px!important;
    color: #555;
    border-radius: 0px;
    display: table-cell;
    padding: 10px 0px!important;
    width: 98%;
    display: block;
    margin: 0px!important;
    box-shadow: none!important;
}
span.input-group-addon.btn-subscribe{        
    font-size: 15px;
    padding: 3px 5px 1px 0px!important;
    font-weight: 400;
    color: #555;
    border: 1px solid #EAEAEA;
    border-left: 0px!important;   
    vertical-align: middle;
    display: table-cell;
    margin: 0px!important;
    width: 25%;
}
a.btn.btn-text{
    background-color: #db3762;
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    .subscribe-container{
        padding: 20px 0px;
    }
    .input-group{
        width: 85%;
    }
}