<div class="subscribe-container" id="page-contact">
    <div class="container">
        <div class="block-newsletter" id="block-newsletter">
            <h4 class="title_block">Sign up for the newsletter</h4>
            <p class="descript">Sign up for our mailing list to get latest updates and offers</p>
            <div class="input-group">
                <span class="input-group-addon"><i  class="fa fa-envelope"></i></span>
                <input class="form-control" placeholder="Nhập email của bạn tại đây" type="text">
                <span class="input-group-addon btn-subscribe">
                    <a  class="btn btn-text" href="#">đăng ký</a>                                       
                </span>
            </div>
        </div>
    </div>
</div>