<div class="card-block">
    <div class="row justify-content-center">
        <section class="col-4 form-dark">

            <!--Form without header-->
            <div class="card card-image" style="background-image: url('https://preview.ibb.co/c43mPF/background_login.jpg');">
                <div class="text-white rgba-stylish-strong py-5 px-5 z-depth-4">

                    <!--Header-->
                    <div class="text-center">
                        <h3 class="white-text mb-5 mt-4 font-bold"><strong>SIGN</strong> <a class="green-text font-bold"><strong> IN</strong></a></h3>
                    </div>

                    <!--Body-->
                    <div class="md-form">
                        <input type="text" id="Form-email5" class="form-control white-text" [(ngModel)]="Username">
                        <label for="Form-email5">Your email</label>
                    </div>

                    <div class="md-form pb-3">
                        <input type="password" id="Form-pass5" class="form-control white-text" [(ngModel)]="Password">
                        <label for="Form-pass5">Your password</label>
                    </div>

                    <!--Grid row-->
                    <div class="row d-flex align-items-center mb-4">

                        <!--Grid column-->
                        <div class="text-center mb-3 col-md-12">
                            <button type="button" class="btn btn-success btn-block btn-rounded z-depth-1" (click)="getAccount()">Sign in</button>
                        </div>
                        <!--Grid column-->
                    </div>
                    <!--Grid row-->


                </div>
            </div>
            <!--/Form without header-->

        </section>
        <!--Section: Live preview-->
    </div>
</div>

