<div class="header-wrapper header-absolute">
    <div class="main-header">
        <nav class="navbar navbar-default navbar-fixed-top transparent" role="navigation">
            <div class="container">
                <div class="logo-wrapper pull-left">
                    <a href="#" class="logo"><img src="assets/images/logo.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav navbar-nav smooth-scroll list-unstyled">
                        <li class="nav-item">
                            <a class="nav-link active page-scroll" href="#" (click)="backHome()">HOME</a>
                        </li>
                        <li class="nav-item" *ngIf="isLogin">
                            <div class="avatar-wrapper">
                                <img class="avatar" alt="avatar" [src]="user.avatarUrl">
                            </div>
                            <a class="nav-link btn dropdown-toggle nameAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{name}}</a>
                            <div class="dropdown-menu drop-account">
                                <a class="dropdown-item" routerLink="/profile/{{userId}}"><i class="fa fa-cog" aria-hidden="true"></i>Profile</a>
                                <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="container">
    <div class="card">
        <h3 class="card-header primary-color white-text">PROFILE</h3>
        <div class="card-block">
            <div class="row justify-content-center">
                <div class="col-6 profile">
                    <form #profileForm="ngForm">
                        <div class="profile-left">
                            <div class="photoContainer">
                                <img [src]="user.avatarUrl" alt="user" class="profilePic" />
                            </div>
                            <div class="information">
                                <table class="table table-user-information ">
                                    <tbody>
                                        <tr>
                                            <div class="md-form">
                                                <input [(ngModel)]="user.avatarUrl" type="text" id="image_input" name="image_input" class="form-control validate ">
                                                <label class="active" for="image_input">Image URL</label>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="md-form">
                                                <input type="text" [(ngModel)]="user.lastName" id="lastName" name="lastName" class="form-control " #lastName="ngModel" required>
                                                <label class="active" for="lastName">Last Name <span class="important">**</span></label>
                                                <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
                                                    <div *ngIf="lastName.errors.required">
                                                        Last Name is required
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="md-form">
                                                <input type="text" [(ngModel)]="user.firstName" id="firstName" name="firstName" class="form-control validate" required #firstName="ngModel">
                                                <label class="active" for="firstName">First Name <span class="important">**</span></label>
                                                <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
                                                    <div *ngIf="firstName.errors.required">
                                                        First Name is required
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="md-form">
                                                <input type="text" [(ngModel)]="user.numberPhone" id="phone_edit" name="phone_edit" class="form-control validate">
                                                <label class="active" for="phone_edit">Number Phone</label>
                                            </div>

                                        </tr>
                                        <tr>
                                            <div class="md-form">
                                                <input type="email" [(ngModel)]="user.email" id="email" name="email" class="form-control validate" #email="ngModel" required
                                                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                                                <label class="active" for="email">Email <span class="important">**</span></label>
                                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                                                    <div *ngIf="email.errors.required">
                                                        Email is required
                                                    </div>
                                                    <div *ngIf="email.errors.pattern">
                                                        Email is invalid
                                                    </div>
                                                </div>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="md-form">
                                                <input type="text" [(ngModel)]="user.address" id="address_edit" name="address_edit" class="form-control validate ">
                                                <label class="active" for="address_edit">Address</label>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="md-form">
                                                <input type="text" [(ngModel)]="user.info" id="infomation_edit" name="infomation_edit" class="form-control validate ">
                                                <label class="active" for="infomation_edit">Infomation</label>
                                            </div>
                                        </tr>
                                        <tr>
                                            <div class="md-form">
                                                <input [value]="bindDate" (change)="thayDoiThoiGian($event.target.value)" type="date" id="date-picker-example" class="form-control datepicker dateofBirth">
                                                <label class="active" for="date-picker-example">Date of Birth</label>
                                            </div>
                                        </tr>
                                        <tr>
                                            <td class="text-center">
                                                <button class="btn btn-warning mb-2" id="edit" (click)="updateProfile()">EDIT<i class="fa fa-pencil ml-1"></i></button>
                                                <button class="btn btn-info mb-2" disabled id="save" (click)="saveChange()" [disabled]="profileForm.invalid">SAVE<i class="fa fa-send ml-1"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card-block-before">
        </div>
    </div>
</div>
<footer></footer>