.profile{
    border: 1px solid rgba(99, 108, 114, 0.33);
    margin-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.photoContainer,
.profilePicThumb{    
    webkit-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #fff, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
}
.photoContainer{
        margin: 0 auto;
    max-width: 25%;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}
.profilePic{
    object-fit: cover;
    width: 100%;
}
.change-image{
    text-align: left;
    position: absolute;
    overflow: hidden;
    width: 160px;
    display: block;
    bottom: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;              
}   
.change-image:hover{
    opacity: 1;
}
.change-image a{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    background: linear-gradient(transparent, rgba(0, 0, 0, .6) 0%, rgba(0, 0, 0, .6) 100%);    
}
.change-image a i{ 
    width: 26px;
    height: 21px;
    position: absolute;
    left: 12px;
    transform: scale(1.2);
    bottom: 18px;
}
._156p{
    font-size: 14px;
    font-weight: 500;
    color: #fff;    
    display: block;
    padding: 10px 12px 10px 37px;
    line-height: 17px;       
}
.md-form label{
    top: 1.2rem!important;
}
.profile-sub-title{    
    display: block;    
    border-radius: 20px;
    color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 24px;
    font-weight: 500;
    padding: 5px 20px;
}
.item-content img{
    height: 138px;
    width: 207px;
}
.card{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

nav.navbar.navbar-default.transparent{  
  background-color: rgba(51, 51, 51, 0.5)!important;
  border: none;
  -webkit-box-shadow: -2px 8px 15px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: -2px 8px 15px 0px rgba(0,0,0,0.32);
  box-shadow: -2px 8px 15px 0px rgba(0,0,0,0.32);
}
.collapse {
    display: inline-block!important;
    width: 70%;
}
ul.nav.navbar-nav.smooth-scroll.list-unstyled {
    display: inline-block;
    float: right;
    padding: 10px 0px;
}
.avatar-wrapper img{
    object-fit: cover;
    width: 40px!important;
    height: 40px;
}
a.nav-link.btn.dropdown-toggle.nameAccount {
    display: inline-block;
    box-shadow: none;
}
.avatar-wrapper {
    display: inline-block;
}
li.nav-item {
    display: inline-block;
}
a.nav-link.page-scroll,
a.nav-link.btn.dropdown-toggle.nameAccount {
    padding: 20px 10px;
    font-size: 13px;
    height: auto;
    display: inline-block;
    color: #fff;   
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}
.dropdown-menu.drop-account {
    margin-top: 0;
    right: 20px;
    float: none!important;
    clear: both;
    left: auto;
    top: 74px;
}
a.dropdown-item:hover{
    background-color: #4285F4!important;
    color: #fff;
    font-weight: bold;
}
.dropdown-item .fa{
    margin-right: 5px;
}
.dateofBirth{
    color: rgba(51, 51, 51, 0.51);
}
.md-form label{
    font-weight: 700;
    color: black;
}
.important{
    color: red;
    font-weight: bold;
}
.card-block-before {   
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 999999;
    height: 861px;
    width: 100%;
}