<div class="slide-container" id="page-home">
    <slide></slide>
    <listflower></listflower>    
    <feedback></feedback>    
    <bestsell></bestsell>
    <blog></blog>
    <service></service>
    <subscribe></subscribe>
    <manufacture></manufacture>
</div>