<div class="header-detail">
    <div class="container">
        <ul class="ul-breadcrumb">
            <li><a href="" title="Home">Home</a></li>
            <li><a href="" title="Categories">Categories</a></li>
            <li><span>The Cottage Bouquet</span></li>
        </ul>
    </div>
</div>