.sticky-container{    
    position: fixed;
    top: 40%;
    right: 0%;
}
.sticky{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}
.sticky-container a{   
    color: #fff;
    display: block;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    position: relative;
    text-align: center;
    width: 35px;
    text-decoration: none;    
}
.sticky-container .facebook:before{
    content: "\f09a";   
    font-family: FontAwesome;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.sticky-container .twitter:before{
    content: "\f099";   
    font-family: FontAwesome;    
}
.sticky-container .google:before{
    content: "\f0d5";    
    font-family: FontAwesome;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }
  .sticky .facebook span{
    background: #607CB7;
  }
  .sticky .twitter span{
    background: #00aced;
  }
  .sticky .google span{
    background: #DD4B39;
  }
  .sticky a:hover span{
    right: 100%;
    z-index: 5;
  }
  .sticky a span {
    line-height: 35px;
    right: -120px;
    position: absolute;
    text-align: center;
    width: 120px;   
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
.twitter{
    background: #00aced;
}
.facebook{
    background: #607CB7;
}
.google{
    background: #DD4B39;
}
@media only screen and (min-width: 737px){
    .sticky, 
    .sticky-placeholder {
        display: block!important; 
    }
    ul.sticky{
        display: block!important;
    }
}