<div class="sticky-container">
    <ul class="sticky">
        <li><a href="http://facebook.com" class="facebook" target="_blank"><span>Facebook</span></a></li>
        <li><a href="http://twitter.com" class="twitter" target="_blank"><span>Twitter</span></a></li>
        <li><a href="http://google.com" class="google" target="_blank"><span>Google+</span></a></li>
    </ul>
</div>