.card{
    height: 432px;
    box-shadow: none;
}
.link-product{
    width: 100%;
    float: left;
    overflow: hidden;
}
.link-product img{
    transition: transform 0.5s cubic-bezier(0.49, -0.01, 0.42, 0.81);
    border-radius: 0px!important;
}
.link-product:hover img{
    transform: scale(1.2);
}
span.label-new.label{
    color: #fff;
    background-color: #77c66d;
    padding: 0px 10px;
    text-transform: uppercase;
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 10px;
}
span.label-new.label-sale.label{
    color: #fff;    
    padding: 5px 10px;
    text-transform: uppercase;
    position: absolute;
    top: 14px;    
    font-size: 10px;
    background-color: #f65b47;
    left: 15px;
    width: 15%;
}
.product-image-container{
    position: relative;
    margin-bottom: 15px;
}
a.product-name{
    text-transform: uppercase;
    text-align: left;
    padding-left: 5px;
    color: #747373;
}
span.price.product-price {
    text-decoration: line-through;
    padding-left: 5px;
}
span.old-price.product-price {
    font-weight: 700;
    color: #000;
}
.star_content .fa{
    color: yellow;
}
.content_price{
    float: left;
}
.star_content{
    float: right;
}
@media screen and (min-width: 768px) and (max-width: 1365px){
    a.product-name{
        font-size: 12px;
    }
    span.price.product-price,
    span.old-price.product-price{
        font-size: 10px;
    }
    .star_content .fa{
        font-size: 8px;
    }
    .card{
        height: 350px;
    }    
}