<div class="card">
    <div class="product-image-container">
        <a class="link-product"><img class="img-fluid" [src]="_item.ImageUrl" alt="Card image cap"></a>
        <span class="label-new label">New</span>
        <span class="label-new label-sale label">-{{_item.Sale}}%</span>
    </div>
    <div class="card-body">
        <div class="product-box">
            <h5 class="name">
                <a class="product-name" href="#" title="Tulipa floriade - red">{{_item.Name}}</a>
            </h5>
            <div class="content_price">
                <span class="price product-price">${{_item.oldPrice}}</span>
                <span class="old-price product-price">${{_item.Price}}</span>
            </div>
            <div class="product_comments clearfix">
                <div class="product-rating">
                    <div class="star_content" *ngFor="let i of numberRateAhihi">
                        <i class="fa fa-star" aria-hidden="true"></i>                        
                    </div>
                </div>
            </div>
            <!-- end product_comments -->
        </div>
    </div>
</div>