<header-bar></header-bar>
<side-bar></side-bar>
<div class="page home-page page-wrapper" style="min-height: 830px;">
    <div class="container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>  