.comment-wrapper{
    position: relative;
    background: url(../../../../assets/images/background/bg-01.jpg) no-repeat center center fixed;
    background-size: cover;
    padding: 100px 0px;
}

img.img-feedback{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}
.carousel-control-prev,
.carousel-control-next,
.carousel-indicators{
    display: none;
}
.wrapper-content p{
    text-align: center;
    color: #fff;
    font-size: 16px;
}
.comment-wrapper:after{
    content: "";
    background-color: rgba(51,51,51,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.comment-slider {
    position: relative;
    z-index: 999;
}
a.name {
    text-align: center;
    display: block;
    color: #fff!important;
    font-size: 21px;
    font-weight: 500;
}
a.name:hover{
    color: #db3762!important;
}