<div class="comment-wrapper" id="page-about">
    <div class="container">
        <div class="comment-slider">
            <!--Carousel Wrapper-->
            <div id="carousel-example-1z_b" class="carousel slide carousel-fade" data-ride="carousel">
                <!--Indicators-->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-1z_b" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-1z_b" data-slide-to="1"></li>
                    <li data-target="#carousel-example-1z_b" data-slide-to="2"></li>
                </ol>
                <!--/.Indicators-->
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    <!--First slide-->
                    <div class="carousel-item active">
                        <div class="wrapper-content">
                            <div class="wrapper-img"><img src="assets/images/customer/1.png" alt="" class="img-feedback"></div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                ut laoreet dolore magna aliquam erat, anteposuerit litterarum formas humanitatis per seacula
                                quarta decima et quinta decima</p>
                            <a class="name">Mr Hoan Lee</a><br>
                            <p class="position">Developer</p>
                        </div>

                    </div>
                    <!--/First slide-->
                    <!--Second slide-->
                    <div class="carousel-item">
                        <div class="wrapper-content">
                            <div class="wrapper-img"><img src="assets/images/customer/2.png" alt="" class="img-feedback"></div>
                            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt
                                ut laoreet dolore magna aliquam erat, anteposuerit litterarum formas humanitatis per seacula
                                quarta decima et quinta decima</p>
                            <a class="name">Mr Hoan Lee</a><br>
                            <p class="position">Developer</p>
                        </div>
                    </div>
                    <!--/Second slide-->
                </div>
                <!--/.Slides-->
                <!--Controls-->
                <a class="carousel-control-prev" href="#carousel-example-1z_b" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-example-1z_b" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--/.Controls-->
            </div>
            <!--/.Carousel Wrapper-->

        </div>
    </div>
</div>