<div class="header-wrapper header-absolute">
    <div class="header-topbar">
        <div class="container">
            <div class="topbar-list pull-left">
                <div class="item">
                    <span class="text"><i class="topbar-icons fa fa-clock-o" aria-hidden="true"></i>Mon - Sat at 7:00 AM to 9:00 PM</span>
                </div>
                <div class="item">
                    <span class="text"><i class="topbar-icons fa fa-map-marker" aria-hidden="true"></i> Lot T2, D1 Street, Saigon Hi-Tech Park, Dist 9, Hồ Chí Minh</span>
                </div>
            </div>
            <div class="topbar-list pull-right">
                <div class="item">
                    <div><i class="topbar-icons fa fa-phone" aria-hidden="true"></i><span>Hotline:</span><span class="number-phone"> + 123 456 789</span></div>
                </div>
            </div>
        </div>
    </div>    
    <div class="main-header">
        <nav class="navbar navbar-default fixed-top navbar-fixed-top transparent" role="navigation">
            <div class="container">
                <div class="logo-wrapper pull-left">
                    <a href="#" class="logo"><img src="assets/images/logo.png" alt=""></a>
                </div>
                <div class="collapse navbar-collapse pull-right">
                    <ul class="nav navbar-nav smooth-scroll list-unstyled">
                        <li class="nav-item">
                            <a class="nav-link active page-scroll" href="#page-home">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#page-about">ABOUT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#page-product">PRODUCT</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link page-scroll" href="#page-contact">CONTACT</a>
                        </li>
                        <li class="nav-item">
                            <a *ngIf="!isLogin" class="nav-link" data-toggle="modal" data-target="#loginModal" data-backdrop="false">LOGIN</a>
                        </li>
                        <li class="nav-item" *ngIf="isLogin">
                            <div class="avatar-wrapper">
                                <img class="avatar" alt="avatar" [src]="avatarUrl">
                            </div>
                            <a class="nav-link btn dropdown-toggle nameAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{name}}</a>
                            <div class="dropdown-menu drop-account">
                                <a class="dropdown-item" routerLink="/profile/{{userId}}"><i class="fa fa-cog" aria-hidden="true"></i>Profile</a>
                                <a class="dropdown-item" (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <i class="nav-link fa fa-search" aria-hidden="true"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>