  .header-wrapper.header-absolute,
  .navmenu{
    width: 100%;
    position: relative;
    float: left;
  }
  /*.header-absolute{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 101;
  }*/
  .header-topbar{
    position: relative;
    border-bottom: none;
    background-color: #333;
    padding: 12px 0px;
    color: rgba(255,255,255, .7);
    width: 100%;
    float: left;
    z-index: 999;
  }
.topbar-list .item{
  margin-right: 35px;
  display: inline-block;
}
.topbar-list .topbar-icons{
  font-size: 16px;
  line-height: 24px;
  display: inline-block;
  margin-right: 8px;
  color: #ddd;
}
.pull-left{
  float: left!important;
}
.pull-right{
  float: right!important;
}
span.text{
  font-size: 13px;
  display: inline-block;
  margin: 0px;
}
.number-phone{
  font-size: 18px;
  font-weight: 700;
  color: #800040;
}
nav.navbar.navbar-default.navbar-fixed-top.transparent {
    float: left;
    width: 100%;
    border: none;
    box-shadow: none;
}
nav.navbar.navbar-default.fixed-top.transparent{
  margin-top: 50px;
  background-color: rgba(51, 51, 51, 0.5)!important;
  border: none;
  -webkit-box-shadow: -2px 8px 15px 0px rgba(0,0,0,0.32);
  -moz-box-shadow: -2px 8px 15px 0px rgba(0,0,0,0.32);
  box-shadow: -2px 8px 15px 0px rgba(0,0,0,0.32);
}
.collapse.navbar-collapse.pull-right{
  width: 70%;
}
ul.nav.navbar-nav{
  display: inline-block;
  width: 100%;
  text-align: right;
}
.collapse{
  display: inline-block!important;
}
li.nav-item{
  display: inline-block;
}
a.nav-link,
i.nav-link{
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}
a.nav-link:hover{
  color: #800040;
}
.navbar .nav-item .nav-link {
    display: block;
    padding: 30px 15px;
    height: auto;
}
@media(min-width:767px){
    .navbar{
      padding: 20px 0px;
      -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
      -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
      -ms-transition: background .5s ease-in-out, padding .5s ease-in-out;
      -o-transition: background .5s ease-in-out, padding .5s ease-in-out;
      transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .top-nav-collapse{
      padding: 0px;
    }
}
nav.navbar.navbar-default.fixed-top.navbar-fixed-top.transparent.top-nav-collapse{
  margin-top: 0px!important;
}


/*box-popup*/
.login-html{
    background-color: #fff;   
    position: relative;
    text-align: center;
}
.login-html .tab {
    font-size: 22px;
    padding-bottom: 5px;
    display: inline-block;
    margin: 0px 15px 10px 0px;
    color: rgb(200, 200, 200);
    border-bottom: 2px solid transparent;
}
.login-html .sign-in:checked + .tab, 
.login-html .sign-up:checked + .tab {
    color: #000;
    border-color: rgb(17, 97, 238);
}
.login-html .tab {
    font-size: 20px;
    margin: 20px 0 15px;
    display: inline-block;        
}
.login-html .tab, 
.login-form .group .label, 
.login-form .group .button {
    text-transform: capitalize;
}
@media (min-width: 768px){
    .modal-dialog {
        width: 340px!important;
        margin: 30px auto;
    }
}
button.close{        
    border: 0;
    float: right;
    font-size: 21px;
    font-weight: 700;   
    color: #000;
    text-shadow: 0 1px 0 #fff;
    margin: 10px 10px 0px 0px;   
}
input[type="radio"]{
    visibility: hidden; 
    margin-left: 7px;  
}
.login-content{
    padding: 5px;
}
.other-login .social{   
    position: relative;
    text-decoration: none;
    border: 0 none;
    text-align: center;
    display: block;   
    padding: 10px 0px;
    margin-bottom: 5px;
    color: #fff;
    font-weight: 700!important;   
    border-radius: 5px;
}
.facebook{
    background-color: #607CB7;
}
.facebook:before{
    content: "\f09a";
    font-size: 14px;
    font-family: FontAwesome;
    color: #fff;    
    margin-left: 0px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 13%;
}
.google{
    background-color: #DD4B39;
}
.google:before{
    content: "\f0d5";
    font-size: 14px;
    font-family: FontAwesome;
    color: #fff;    
    margin-left: 0px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 13%;
}
.login-html span{
    display: block;
    margin-top: 10px;
    position: relative;
    height: 20px;
    line-height: 20px;
    text-align: center;   
    margin-bottom: 10px;
}
.login-html span i{
    font-style: normal;
    color: #9b9797;
    background-color: #fff;
    position: relative;
    padding: 0 10px;
    font-size: 13px;
}
.login-html span:before{
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    display: block;
    background: #dedede;
    top: 10px;

}
.group{
    padding: 0px 20px;
    text-align: left;
}
.login-form .input{  
    width: 89%;
    padding: 7px 15px;
    /*color: #b2b2b2;*/
    border: 1px solid #dedede;
    margin-bottom: 5px;
}
.login-form .input:first-child{
    margin-bottom: 10px;
}
.radio-input{
    margin: 10px 20px 20px;
    color: gray;
    overflow: hidden;
}
.pull-left{
    float: left;
}
.box-popup.no-padding .login-form .radio-input input{
    margin-right: 5px;
}
.pull-left label{
    font-weight: normal;
}
.pull-left p>a{
    color: #000;
}
.pull-left p>a:hover{
    color: #337ab7;
}
.pull-left .txt-link a{
    text-decoration: none;
    display: inline-block;        
}
.pull-center{
    text-align: center;
    clear: right;
    padding-top: 5px;
}
.pull-center .button{   
    padding: 12px 30px;    
    line-height: 1;    
    background: #7FBA00;
    color: #fff;
    outline: none;
    border: none;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    border: 1px solid #7FBA00;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}
.pull-center .button:hover{   
    background: #fff;
    color: #7FBA00;
    border: 1px solid #7FBA00;
}
.foot-lnk{
    text-align: center;
    padding-bottom: 15px;
}
.foot-lnk a{
    text-decoration: none;    
}
.foot-lnk a label:hover{
    color: #337ab7!important;
}
.txt-link a label:hover{
    color: #337ab7!important;
}
.txt-link a{
    text-decoration: none;
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{ 
    position:absolute;
    background-color: #fff;
    -webkit-transform:rotateY(180deg);
            transform:rotateY(180deg);
    -webkit-backface-visibility:hidden;
            backface-visibility:hidden;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}
.login-form .group .check:checked + label .icon:before{
    -webkit-transform:scale(1) rotate(45deg);
            transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
    -webkit-transform:scale(1) rotate(-45deg);
            transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    -webkit-transform:rotate(0);
            transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    -webkit-transform:rotate(0);
            transform:rotate(0);
}
.label{
    color: #000!important;
    font-size: 14px;   
}
.sign-up-htm .txt-link{
    display: inline-block;
    padding: 20px 0px 20px 20px;
}
.sign-up-htm .group.pull-center{
    padding: 15px 0px;
}
.sign-up-htm .group label{
    padding: 0px!important;
    margin-bottom: 10px!important;
    display: inline-block!important;    
}

label{
    border: none!important;
}
.login-form{
    margin-top: 0px!important;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before{
    display: none;
}
/*end box-popup*/
.progress{
        height: 2px !important;
}
.md-form .prefix{
    font-size: 1.5rem!important;
}
.a.logo{
    float: left;
}
.main-header{
    position: static;
    height: 137px;
    margin-top: 50px;
}
.modal-backdrop.show{
  z-index: 99!important;
}

/*AVATAR*/
.avatar-wrapper{
    display: inline-block;
}
a.nav-link.btn.dropdown-toggle.nameAccount {
    box-shadow: none;
    display: inline-block!important;
}
.dropdown-menu.drop-account{    
    margin-top: 0;
    right: 71px;
    float: none!important;
    clear: both;  
    left: auto;
    top: 74px;
}
a.dropdown-item .fa{
    margin-right: 5px;
}
a.dropdown-item:hover{
    background-color: #4285F4!important;
    color: #fff;
    font-weight: bold;
}
@media screen and (max-width: 1023px){
    nav.navbar.navbar-default.fixed-top.transparent{
        margin-top: 75px;
    }
     li.nav-item{
        float: left;
    }  
}
@media screen and (min-width: 768px) and (max-width: 1366px){
    .topbar-list.pull-right{
        float: left!important;
    }    
    a.logo{
        float: left;
    }
    a.logo img{
        max-width: 180px;
    }   
    .navbar .nav-item .nav-link{
        padding: 20px 10px;
        font-size: 13px;
    }
    i.nav-link.fa.fa-search{
        margin: 6px;
    }
}
/*AVATAR*/
.avatar-wrapper{
    display: inline-block;
}
a.nav-link.btn.dropdown-toggle.nameAccount {
    box-shadow: none;
    display: inline-block!important;
}
img.avatar {
    object-fit: cover;
    width: 40px!important;
    height: 40px;
}
.dropdown-menu.drop-account{    
    margin-top: 0;
    right: 71px;
    float: none!important;
    clear: both;  
    left: auto;
    top: 74px;
}
a.dropdown-item .fa{
    margin-right: 5px;
}
a.dropdown-item:hover{
    background-color: #4285F4!important;
    color: #fff;
    font-weight: bold;
}