<div class="footer-wrapper">
    <div class="container">
        <div class="footer-top">
            <div class="block-content">
                <a class="logo">
                    <img src="assets/images/logo.png">
                </a>
                <p><span> Lot T2, D1 Street, Saigon Hi-Tech Park, Dist 9, Hồ Chí Minh</span></p>
                <p>0123 456 789 - <a href="#" title="">contact@abc.org</a></p>
                <div class="social">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                    <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-coppy-right">
        <div class="container">
            <div class="row">
                <div class="col-12 text-left">
                    Copyright © 2017 - All rights reserved. Powered by HoanLK1
                </div>
            </div>
        </div>
    </div>
</div>