.footer-wrapper{
    background:  url('../../../assets/images/bg-footer.jpg') center center no-repeat #333;
    background-size: cover;
    position: relative;
    padding-top: 70px;
}
.logo{
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 20px;
}
.footer-wrapper:after{
    content: '';
    background-color: rgba(51,51,51,.9);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}
.block-content,
.footer-coppy-right{
    position: relative;
    z-index: 999;
}
.block-content p,
.block-content a{
    text-align: center;
    color: #999;
}
.footer-top .block-content{
    padding-bottom: 70px;
}
.social {
    text-align: center;
    font-size: 18px;
    color: #fff;    
}
.social .fa{
    padding: 0px 15px;
}
.footer-coppy-right {
    padding: 15px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.text-left{
    float: left;
    color: #999;
}