h4.title_block {
    position: relative;
    display: block;
    color: #000;
    font-size: 28px;
    margin-bottom: 50px;
}
h4.title_block:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 1px;
    width: 5%;
    background-color: #db3762;
}

.wrapper-product{
    margin: 70px 0px;
}
.controls-top {
    float: right;
}
.controls-top{
    margin-bottom: 20px;
}
a.btn-floating{
    font-size: 22px;    
    padding: 0px 15px;
}
.link-product{
    width: 100%;
    float: left;
    overflow: hidden;
}
.link-product img{
    transition: transform 0.5s cubic-bezier(0.49, -0.01, 0.42, 0.81);
    border-radius: 0px!important;
}
.link-product:hover img{
    transform: scale(1.2);
    opacity: .7;
}
span.label-new.label{
    color: #000;
    background-color: #fff;
    padding: 0px 10px;
    text-transform: uppercase;
    position: absolute;
    top: 14px;
    right: 15px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}
span.label-new.label-sale.label{
    color: #fff;    
    padding: 0px 10px;
    text-transform: uppercase;
    position: absolute;
    top: 14px;    
    font-size: 10px;
    background-color: #f65b47;
    left: 15px;
    width: 15%;
}
.product-image-container{
    position: relative;
    margin-bottom: 15px;
}
a.product-name{
    text-transform: uppercase;
    text-align: left;
    padding-left: 5px;
    color: #747373;
}
span.price.product-price {
    text-decoration: line-through;
    padding-left: 5px;
}
span.old-price.product-price {
    font-weight: 700;
    color: #000;
}
.star_content .fa{
    color: yellow;
}
.content_price{
    float: left;
}
.star_content{
    float: right;
}
.controls-top{
    display: none!important;
}
.form-title a{
    color: #000!important;
    font-size: 20px;
    font-weight: 500;
}
.form-title a:hover{
    color: #db3762!important;
}
.wrapper-blog {
    margin: 70px 0px;
}
.card{
    box-shadow: none;
}
span.day {
    font-size: 18px;
    font-weight: 700;
}
.post-meta-lr.post-meta-left {
    padding: 12px 0px;
    font-size: 16px;
}
.post-user{
    position: relative;
    padding-right: 15px;
}
.post-user:after{
    content: '/';
    position: absolute;
    right: 0px;

}
@media screen and (min-width: 768px) and (max-width: 1366px){
    .card-body{
        text-align: justify;
    }
    .form-title a{
        font-size: 16px;
    }
}