<div class="wrapper-blog">
    <div class="container">
        <h4 class="title_block">Form the blog</h4>
        <!--Carousel Wrapper-->
        <div id="multi-item-example_12" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--Controls-->
            <div class="controls-top">
                <a class="btn-floating" href="#multi-item-example_12" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                <a class="btn-floating" href="#multi-item-example_12" data-slide="next"><i class="fa fa-chevron-right"></i></a>
            </div>
            <!--/.Controls-->

            <!--Indicators-->
            <ol class="carousel-indicators">
                <li data-target="#multi-item-example_12" data-slide-to="0" class="active"></li>
                <li data-target="#multi-item-example_12" data-slide-to="1"></li>
                <li data-target="#multi-item-example_12" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->

            <!--Slides-->
            <div class="carousel-inner" role="listbox">

                <!--First slide-->
                <div class="carousel-item active">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/1.jpg" alt="Card image cap"></a>                                
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/2.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/3.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/4.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.First slide-->

                <!--Second slide-->
                <div class="carousel-item">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/1.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/2.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/3.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>

                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/4.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Second slide-->

                <!--Third slide-->
                <div class="carousel-item">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/1.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/2.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/3.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>

                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 clearfix d-none d-md-block">
                        <div class="card">
                            <div class="product-image-container">
                                <a class="link-product"><img class="img-fluid" src="assets/images/form/4.jpg" alt="Card image cap"></a>
                                <span class="label-new label post-date"><span class="month">Web</span><br><span class="day">25</span></span>
                            </div>
                            <div class="card-body">
                                <div class="product-box">
                                    <h4 class="form-title"><a href="#" title="More than just a simple bouquet">More than just a simple bouquet</a></h4>
                                    <div class="post-meta">
                                        <div class="post-meta-lr post-meta-left">
                                            <span class="post-user">By Tivatheme</span>
                                            <span class="post-comment">3 comment</span>
                                        </div>
                                        <!-- end post-meta-left -->
                                    </div>
                                    <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua. Over the years come, who nostrud exercise, school district</div>
                                    <!-- end product_comments -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.Third slide-->

            </div>
            <!--/.Slides-->

        </div>
        <!--/.Carousel Wrapper-->
    </div>
</div>