<div class="body-wrapper">
    <div class="wrapper-content">
        <header>            
            <navmenu #navmenu></navmenu>    
            <login (getName)="navmenu.changeName($event)" class="modal fade" id="loginModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></login>                    
        </header>
        <div class="main-content">
            <router-outlet></router-outlet>
        </div>
        <footer></footer>
        <sticky-social></sticky-social>
        <backtop></backtop>
    </div>    
</div>