.body-wrapper{
    position: relative;
    height: 100%;
}
.wrapper-content{
    opacity: 1;
    visibility: visible;
    position: relative;
}
.pull-left{
  float: left!important;
}
.pull-right{
  float: right!important;
}
.main-color{
    color: #800040!important;
}
header{
    width: 100%;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}
.main-content{
    clear: both;
    width: 100%;
}
.modal-backdrop{
    display: none!important;
}
