.wrapper-product{
    margin: 70px 0px;
}
.controls-top {
    float: right;
}
h4.title_block {
    position: relative;
    display: block;
    color: #000;
    font-size: 28px;
}
h4.title_block:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 1px;
    width: 5%;
    background-color: #db3762;
}
.controls-top{
    margin-bottom: 20px;
}
.controls-top a.btn-floating {
    padding: 0px 15px;
    font-size: 22px;
}